Repository gregrickaby/gregrickaby-astro: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: npx eslint {staged_files} --fix

prettier:
  run: npx prettier {staged_files} --write

use ~ alias
  tsconfig.json
Due: prettier

more .vscode configs
  .vscode/extensions.json
  .vscode/settings.json
Due: prettier

bulk formatting/linting fixes. add ~ alias
  src/components/Icon.astro
  src/components/MainHead.astro
  src/layouts/Layout.astro
  src/lib/config.ts
  src/pages/index.astro
Due: eslint

update url
  README.md
Due: prettier

add assertions and security configs
  .github/workflows/assertions.yml
  .github/workflows/security.yml
Due: prettier

dependency bump
  package-lock.json
  package.json
Due: prettier

bump
  package-lock.json
  package.json
Due: prettier

add blog
  src/lib/config.ts
Due: eslint

filter insta
  src/pages/index.astro
Due: none

remove flickr
  src/lib/config.ts
  src/pages/index.astro
Due: eslint

remove
  public/.nojekyll
  public/CNAME
Due: none

update config
  src/lib/config.ts
Due: eslint

update deploy
  .github/workflows/deploy.yml
Due: prettier

update source dir
  .github/workflows/deploy.yml
Due: prettier

bump sitemap
  public/sitemap.xml
Due: none

fwd to the blog sitemap
  public/sitemap.xml
Due: none

use sitemapindex
  public/sitemap.xml
Due: none

bump
  public/robots.txt
Due: none

remove uneeded config value
  astro.config.ts
Due: eslint

bump
  src/env.d.ts
Due: eslint

Path conditions:
  eslint: any of: *.{js,cjs,mjs,jsx,ts,tsx}
  prettier: any of: *.{md,html,json,yml}
